We will load the input data as dataframe:

In [2]:
import os
from sqlalchemy import create_engine
from tqdm import tqdm
import psycopg2
import json
import pandas as pd

with open('../credentials.json') as f:
    data = json.load(f)
    psql_config = {
    'dbname': data['db_name'],
    'user': data['db_user'],
    'password': data['db_pwd'],
    'host': data['db_host'],
    'port': 5432
}


def get_psql_connection():
    try:
        conn = psycopg2.connect(**psql_config)
    except Exception as e:
        print("Error connecting to the database:", e)
    return conn

In [4]:
engine = create_engine(f'postgresql://{psql_config["user"]}:{psql_config["password"]}@{psql_config["host"]}/{psql_config["dbname"]}')

df = pd.read_sql("SELECT * FROM m024.citi_bike_data LIMIT 100000;", engine)

df.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,1749,2018-05-29 19:01:13.470,2018-05-29 19:30:22.980,398,Atlantic Ave & Furman St,40.691652,-73.999979,3180,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,29168,Subscriber,1983,2
1,504,2018-05-29 19:04:35.007,2018-05-29 19:12:59.634,398,Atlantic Ave & Furman St,40.691652,-73.999979,3321,Clinton St & Union St,40.683116,-73.997853,30775,Subscriber,1979,1
2,364,2018-05-29 19:04:35.401,2018-05-29 19:10:40.340,398,Atlantic Ave & Furman St,40.691652,-73.999979,3389,Carroll St & Columbia St,40.683046,-74.003486,30965,Subscriber,1970,1
3,235,2018-05-29 19:05:09.131,2018-05-29 19:09:05.107,398,Atlantic Ave & Furman St,40.691652,-73.999979,3311,Columbia St & Kane St,40.687632,-74.001626,26366,Subscriber,1977,1
4,937,2018-05-29 19:26:53.472,2018-05-29 19:42:31.414,398,Atlantic Ave & Furman St,40.691652,-73.999979,3544,Underhill Ave & Pacific St,40.680484,-73.964680,25084,Customer,1969,0